* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans';
}

textarea {
  resize: none;
}

::selection {
  background: var(--sapphire3);
  color: white;
}

input[type='date'] {
  margin-top: -3px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.55);
  margin-left: -4px;
  margin-top: 3px;
  width: 10px;
  transform: translateX(-55px);
}

::-webkit-datetime-edit {
  padding-left: 18px;
}
